<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ocam">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_ocam_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityList.ListActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.track.TrackActivity"
            android:label="@string/title_activity_track"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.monitorization.MonitorizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".periodicTasks.ReportSender" />

        <service
            android:name=".periodicTasks.pendingActions.ActionService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2bee8b4e2a935fac1d74a762f9cbc93270416e08" />

    </application>

</manifest>